/* .shortCut {
    margin:0;
    border: none;
    outline: none;
    width: 200%;
    font-size: 15px;
    padding: 17px 0;
    margin-top: 20px;
    border-radius: 5px;
    background: #4A98F7;
    color: #fff;
    cursor: pointer;
  } */